.bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.conteudo_div {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.imagem {
  display: grid;
}

.imagem video {
  grid-area: 1/1;
}

.imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.conteudo_div h2,
.conteudo_div p {
  grid-column: 1/-1;
}

.conteudo_div h2 {
  margin-bottom: 20px;
}

.conteudo_div h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.conteudo_div p {
  margin-bottom: 32px;
}

.conteudo_div a {
  place-self: start;
}

.conteudo_div li {
  display: flex;
  align-items: center;
}

.conteudo_div ul {
  display: grid;
  gap: 16px;
}

.conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bg {
    background: var(--cor-11);
  }
  .conteudo_div {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .video{
    width: 430;
    height: 430;
  }
}

@media (max-width: 600px) {
  .conteudo {
    grid-template-columns: 1fr;
  }
  .conteudo_div ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .conteudo_div a {
    place-self: start;
  }
  
  .video{
    width: 330px;
    height: 330px;
  }
 
}


.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tecnologia-imagem img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
}

.tecnologia-conteudo > span {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
  margin-bottom: 32px;
}

.tecnologia-conteudo > p {
  margin-bottom: 20px;
}

.tecnologia-conteudo a {
  margin-bottom: 80px;
}

.tecnologia-vantagens {
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens h3 {
  margin-bottom: 8px;
  width: max-content;
}

.tecnologia-vantagens img {
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologia-imagem {
    display: none;
  }
  .tecnologia-conteudo a {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
}
